body {
  background-image: url(img/fon.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
.main {
  width: 100%;
  height: 735px;
  box-shadow: inset 2px 2px 20px 10px rgba(36, 36, 36, 0.356);
}

html {
  overflow: hidden;
}
.sun:hover {
  opacity: 0%;
}

.divsun {
  position: absolute;
  right: 49px;
  top: 30px;
}
div .sun {
  width: 180px;
  height: 180px;
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: 2s;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bird1 {
  background-image: url(img/bird1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 130px;
  height: 130px;
  position: absolute;
  right: 25%;
  top: 100px;
  animation-name: flying;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes flying {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(150px);
  }
}

.bird2 {
  background-image: url(img/bird2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 130px;
  height: 130px;
  position: absolute;
  right: 75%;
  top: 100px;
  animation-name: flying;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.bird3 {
  background-image: url(img/bird3.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 130px;
  height: 130px;
  position: absolute;
  right: 50%;
  top: 250px;
  animation-name: flying2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes flying2 {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(-150px);
  }
}
.flower {
  background-image: url(img/flower.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 65%;
  top: 70%;
  animation: grow 2s 12s 1 forwards, old 2s 14s 1 forwards;
}
@keyframes grow {
  100% {
    transform: scale(1.4) translateY(-20px);
  }
}
@keyframes old {
  to {
    opacity: 0%;
  }
}
.flower2 {
  background-image: url(img/flower2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  position: absolute;
  right: 60%;
  top: 60%;
  animation: old2 2s 14s 1 forwards, flow2 2s 16.5s 2 alternate, death 1s 24s 1 forwards;
  opacity: 0%;
}

@keyframes old2 {
  to {
    opacity: 100%;
  }
}
@keyframes flow2 {
    0%{
        transform: skewX(1deg);
    }
  50% {
      transform: skewX(30deg);
  }
  100%{
      transform: skewX(-30deg);
  }
}
@keyframes death{
    to{
        transform: scaleY(0.30)  rotate(90deg) translate(250px,-50px);
    }
}
.man{
   background-image: url(img/man.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  position: absolute;
  left: -300px;
  top: 50%; 
  animation: went 5s ease-out 21s 1 backwards;
}
@keyframes went{
    15%{
        transform: translate(100px,20px);
    }
    30%{
        transform: translate(200px,-20px);
    }
    45%{
        transform: translate(300px,20px);
    }
    60%{
        transform: translate(500px,-20px);
    }
    75%{
        transform: translate(750px,20px);
    }
    85%{
        transform: translate(1100px,-20px);
    }
    95%{
        transform: translate(1300px,-20px);
    }
    100%{
        transform: translate(1550px,20px);
    }
}
.wind {
  background-image: url(img/wind.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  position: absolute;
  right: 40%;
  top: 65%;
  animation: old3 2.5s 16s 2 alternate backwards, flow 0.3s ease 16s 15;
  opacity: 0%;
}
@keyframes old3 {
  to {
    opacity: 40%;
  }
}
@keyframes flow {
  50% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(40px);
  }
}
.butterfly1 {
  background-image: url(img/butterfly.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 130px;
  height: 130px;
  position: absolute;
  right: -130px;
  top: 69%;
  animation: flying3 4s linear 2s 1, flying5 3s linear 9s;
}
@keyframes flying3 {
  0% {
    transform: translate(100px, -100px);
  }
  25% {
    transform: translate(-330px, 30px);
  }
  50% {
    transform: translate(-660px, -30px);
  }

  75% {
    transform: translate(-900px, 30px);
  }

  100% {
    transform: translate(-1130px, -50px);
  }
}

@keyframes flying5 {
  0% {
    transform: translate(-1130px, -50px);
  }
  25% {
    transform: translate(-1290px, 30px);
  }
  50% {
    transform: translate(-1420px, -30px);
  }

  75% {
    transform: translate(-1520px, 30px);
  }

  100% {
    transform: translate(-1620px, -50px);
  }
}
.divbutterfly2 {
  position: absolute;
  right: 995px;
  top: 450px;
}

.butterfly2 {
  widows: 110px;
  height: 110px;
  opacity: 0%;
  animation: appear 1ms 6s 1 forwards, disappear 1ms 9s 1 forwards;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes disappear {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
